.Rproj.user
.Rhistory
.RData
.Ruserdata
**/input/RFF/pop_income/*
**/input/RFF/temperature/**
**/input/RFF/rft_inputs/*
**/output/rft/*
**/output/npd/npd_country*
**/output/npd/npd_full_streams*
**/analysis/figures/*